*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(0, 31, 6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background: rgb(202, 213, 214);
    padding: 20px;
    border-radius: 10px;
}
.Calculator form input{
    border: 0;
    outline: 0;
    width: 70px;
    height:70px;
    border-radius: 40px;
    box-shadow:-8px -8px 15px rgba(9, 152, 213, 0.837),5px 5px 15px rgba(9, 22, 27, 0.837);
    background: transparent;
    font-size: 25px;
    color:rgb(48, 38, 38);
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
    form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    }
form input.equal{
    width: 170px;
}
form input.operator{
    color: rgb(211, 7, 109);
}
.heading{
    color:wheat;
    background: transparent;
    background-color: rgb(16, 27, 13);
    text-align: center;
}
.name{
    color:wheat;
    background: transparent;
    background-color: rgb(16, 27, 13);
    text-align: center;
}